<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3321002e-37d9-45cf-9551-ec14ccd4bccd/resourceGroups/PavlosGroup/providers/Microsoft.ContainerRegistry/registries/MyBlog</ResourceId>
    <ResourceName>MyBlog</ResourceName>
    <ResourceGroup>PavlosGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://myblog.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d42428dc-e6bc-46fb-abaf-cdfd403128f2</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>